/* header font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

/* body font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.invalid{
  border: 1px solid red;
  box-shadow: 0 0 2px rgba(255, 0, 0, 0.845);
}
.pending{
  @apply text-yellow-800 bg-yellow-200 bg-opacity-70 
}
.accepted{
  @apply text-green-800 bg-green-200 bg-opacity-70
}
.rejected{
  @apply text-red-800 bg-red-200 bg-opacity-70
}
@layer components {
  .order-status{
    @apply py-1.5 px-6 w-28 text-center text-sm font-semibold rounded-2xl capitalize
  }
}
.range-slider__range,
.range-slider__thumb {
  background-color: #ffd336 !important;
}
.ant-pagination .ant-pagination-item-active {
  background-color: #ffd336 !important;
  border: none;
  /* min-width: 50px;
  height: 50px; */
}
.ant-pagination .ant-pagination-item-active a {
  color: white;
}

.prod-card-container {
  width: 100%;
  height: 2rem;
  overflow: hidden;
}

.prod-card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
